<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guru.composecookbook.moviesapp">

    <application>
        <activity
            android:name=".ui.home.MoviesHomeActivity"
            android:label="@string/title_activity_movies_home"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.details.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
    </application>
</manifest>