<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guru.composecookbook.twitter">

    <application>
        <activity
            android:name=".TwitterActivity"
            android:label="@string/title_activity_twitter"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
    </application>
</manifest>