<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guru.composecookbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeCookBook">
        <activity
            android:name=".ui.moviesappmvi.ui.details.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar"></activity>
        <activity
            android:name=".ui.moviesappmvi.ui.home.MoviesHomeActivity"
            android:label="@string/title_activity_movies_home"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.cryptoappmvvm.ui.detail.CryptoDetailActivity"
            android:label="@string/title_activity_crypto_detail"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.cryptoappmvvm.ui.home.CryptoHomeActivity"
            android:label="@string/title_activity_crypto_home"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.demoui.spotify.details.SpotifyDetailActivity"
            android:label="@string/title_activity_spotify_detail"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.demoui.spotify.SpotifyActivity"
            android:label="@string/title_activity_spotify"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.demoui.DemoUIHostActivity"
            android:label="@string/title_activity_demo_uihost"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dialogs.DialogsActivity"
            android:label="@string/title_activity_dialogs"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.lists.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.dynamic.DynamicUIActivity"
            android:label="@string/title_activity_dynamic_u_i"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
    </application>

</manifest>