<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guru.composecookbook.cryptoapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".ui.composewear.AndroidWearActivity"
            android:exported="true"
            android:label="@string/title_activity_android_wear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.CryptoDetailActivity"
            android:label="@string/title_activity_crypto_detail"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
        <activity
            android:name=".ui.home.CryptoHomeActivity"
            android:label="@string/title_activity_crypto_home"
            android:theme="@style/Theme.ComposeCookBook.NoActionBar" />
    </application>

</manifest>